@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 217 91% 60%;
  --secondary: 213 97% 69%;
  --foreground: 213 51% 24%;
  --foreground-secondary: 213 97% 69%;
  --foreground-primary: 221 83% 53%;
  --background: 214 100% 97%;
  --background-secondary: 0 0% 100%;
}
